.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  /*background-color: #282c50;*/
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: black;*/
}

.App-link {
  color: #999b99;
}

.ChildTest {
  text-align: center;
  /*background-color: #25C01F;*/
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  /*padding:5px;*/
  /*margin:20px;*/
}

.HomePage {
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.AboutPage {
  color: #FFFFFF;
}

.childButton {
  padding:10px;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*float: right;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainNav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.mainNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.mainNav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.mainNav a:active {
  background-color: #666666;
  color: white;
}